@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para el scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #27272a;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #eab308;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #facc15;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}